* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Character colors

$bg: #222233;
$lgreen: #00cf80;
$dgreen: #3cb572;
$silver: #aaaaaa;
$black: #383838;
$grey: #494949;
$blood: #aa5c5c;

body {
  background-color: #4a4f00;
  background-image: url("https://www.transparenttextures.com/patterns/mbossed.png");
}

.container {
  height: 100vh;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
}

@mixin newLine($position: absolute, $display: block, $content: "") {
  position: $position;
  display: $display;
  content: $content;
}

.canvas {
  position: relative;
  left: -50px;
  margin: auto;
  height: 150px;
  width: 150px;
  bottom: 10px;
}

%ears {
  top: 55%;
  height: 20%;
  width: 25%;
  background: $lgreen;
  border-radius: 50%;
}

%inner-ears {
  top: 60%;
  height: 10%;
  width: 8%;
  background: $dgreen;
}

%eyes {
  position: absolute;
  height: 15px;
  width: 12px;
  background: $black;
  border-radius: 50% / 25%;
  transform-origin: 100%;
}

%bone {
  top: -12px;
  height: 8px;
  width: 40px;
  border-top: 2px solid $lgreen;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 40%;
  z-index: 3;
}

.hair {
  position: absolute;
  top: -1px;
  background: $black;
  width: 100%;
  height: 15%;
  border-radius: 1em 1em 0 0;
  z-index: 2;

  &::after {
    @include newLine;
    top: 80%;
    height: 100%;
    width: 100%;
    background: linear-gradient(
        45deg,
        $black 0,
        transparent 0%,
        transparent 66.667%,
        #383838 0%
      ),
      linear-gradient(
        -45deg,
        transparent 33.333%,
        transparent 0%,
        transparent 66.667%,
        #383838 0%
      );
    background-size: 30px 30px;
    background-repeat: repeat-X;
  }
}

.head {
  position: absolute;
  top: 5%;
  left: 27.5%;
  height: 50%;
  width: 45%;
  background: $lgreen;
  border-radius: 2em 2em 3em 3em;

  &::before {
    @include newLine;
    @extend %ears;
    left: -11%;
  }

  &::after {
    @include newLine;
    @extend %ears;
    right: -11%;
  }
}

.head-copy {
  position: absolute;
  height: 100%;
  width: 100%;
  background: $lgreen;
  border-left: 2px solid $dgreen;
  border-right: 2px solid $dgreen;
  border-bottom: 1px solid $dgreen;
  border-radius: 2em 2em 3em 3em;
  z-index: 2;

  &::before {
    @include newLine;
    @extend %inner-ears;
    left: -8%;
    border-radius: 50% 0 0 50%;
  }

  &::after {
    @include newLine;
    @extend %inner-ears;
    right: -8%;
    border-radius: 0 50% 50% 0;
  }
}

.eyes {
  position: absolute;
  top: 40%;
  width: 100%;
  z-index: 3;

  &::before {
    @include newLine;
    @extend %bone;
    left: 20%;
    transform: rotate(-5deg);
  }

  &::after {
    @include newLine;
    @extend %bone;
    right: 20%;
    transform: rotate(5deg);
  }

  .left {
    @extend %eyes;
    left: 24%;
  }

  .right {
    @extend %eyes;
    right: 24%;
  }

  .inner-eye {
    position: absolute;
    top: 30%;
    left: 4px;
    background: #fff;
    height: 4px;
    width: 4px;
    border-radius: 50%;
  }
}

li {
  list-style: none;
}

.mouth {
  position: absolute;
  bottom: 15%;
  left: 35%;
  height: 3px;
  width: 30%;
  background: $black;
  z-index: 2;

  &::before {
    width: 2px;
    content: "i";
    position: absolute;
    left: -4px;
    top: -10px;
    transform: rotate(-50deg);
  }
  &::after {
    width: 2px;
    content: "i";
    position: absolute;
    right: -3px;
    top: -11px;
    transform: rotate(50deg);
  }
}

%bolts {
  position: absolute;
  top: 40%;
  height: 35%;
  width: 25%;
  background: $silver;
}

%end-of-bolt {
  top: -4px;
  background: $silver;
  height: 21px;
  width: 8px;
}

.neck {
  position: absolute;
  bottom: -20%;
  left: 30%;
  height: 25%;
  width: 40%;
  background: $lgreen;
  border: 2px solid $dgreen;
  border-radius: 0 0 5px 5px;
  z-index: 1;
}

.bolts {
  .left {
    @extend %bolts;
    left: -22%;
    border-right: 2px solid $blood;
    border-radius: 5px 0 0 5px;

    &::before {
      @include newLine;
      @extend %end-of-bolt;
      left: -5px;
      border-radius: 1em;
    }
  }

  .right {
    @extend %bolts;
    right: -22%;
    border-left: 2px solid $blood;
    border-radius: 0 5px 5px 0;

    &::before {
      @include newLine;
      @extend %end-of-bolt;
      right: -5px;
      border-radius: 1em;
    }
  }
}
